@use "./variables" as vars;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: vars.$dark-bg;
  color: vars.$text-color;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}